    /* Base css */
    .dropdown-menu  a{
        color: #FFF;
        }
        .dropdown-menu  a img{
        padding-left: 6px;
        }
        
        .navbar{
        display: flex;
        flex-direction: row;
        width: 1021px;
        justify-content: center;
        align-items: center;
       
        padding-top: 35px;
        margin-left: 209.25px;
        margin-right: 209.25px;
        }
        .goal-logo{
            margin-right: 94.75px;
        }
     
        
        .navlist .lists{
            display: inline-flex;
            height: 20.25px;
            align-items: center;
            gap: 30.25px;
            flex-shrink: 0;
        
        }
        
        .lang{
        display: flex;
        width: 140px;
        margin-left: 85px;
        height: 51px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        }
        
        li{
            list-style-type: none;
            
        }
        a{
            text-decoration: none;
            color: #ffffff;
            display: block;
            width: 102px;
            text-align: center;
            font-family: Poppins;
            font-size: 12.8px;
            font-style: normal;
            font-weight: 500;
            line-height: 20.25px; /* 158.203% */
        }
        ul li ul.dropdown li{
            display: block;
            
        }
        .dropdown-menu ul.dropdown{
            padding: 10px;
            position: absolute;
            z-index: 999;
            display: none;
        
        }
        
        
        .dropdown-menu:hover ul.dropdown{
            display: flex;
        padding: 16.716px 11.144px;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        gap: 16.716px;
        }
        .dropdown li a{
            color: #000000;
        } 

        
