:root{
    --text-white:#FFFFFF;
    --bg-white1:#F2F2F2;
    --text-black:#252A34;
    --text-pink:#EC028C;
}

  .search-results-dropdown {
    position: absolute;
    top: 100%; /* Directly below the search bar */
    left: 0;
    right: 0;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dropdown shadow */
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .search-results-dropdown li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .search-results-dropdown li:hover {
    background-color: #f0f0f0;
  }